
HomesteadAzureFunctionApp/.vs/HomesteadAzureFunctionApp/DesignTimeBuild/.dtbcache

HomesteadAzureFunctionApp/.vs/HomesteadAzureFunctionApp/v15/.suo

HomesteadAzureFunctionApp/.vs/HomesteadAzureFunctionApp/v15/Server/sqlite3/storage.ide-shm

HomesteadAzureFunctionApp/.vs/HomesteadAzureFunctionApp/v15/Server/sqlite3/storage.ide-wal
